node_modules
server/node_modules
.env
.turbo
packages/client/.turbo
packages/server/.turbo

packages/client/dist
packages/server/dist

packages/client/logs
packages/client/*.log
packages/client/npm-debug.log*
packages/client/yarn-debug.log*
packages/client/yarn-error.log*
packages/client/pnpm-debug.log*
packages/client/lerna-debug.log*

packages/client/node_modules
packages/client/dist
packages/client/dist-ssr
packages/client/*.local
packages/client/# Editor directories and files
packages/client/.vscode/*
packages/client/.vscode
packages/client/!.vscode/extensions.json
packages/client/.idea
packages/client/.DS_Store
packages/client/*.suo
packages/client/*.ntvs*
packages/client/*.njsproj
packages/client/*.sln
packages/client/*.sw?